footer
{
    background-color: #111;
    display: flex;
    color: #333;
    padding-top: 5px;
    font-size: 90%;
}

.Footer-Titulos
{
    color: #fff;
}
.Footer-Text
{
    font-size: 10vw;
}
    
.Footer-Lista
{
    margin: auto;
}
